#map_canvas1 {
    height: 100%;
}

ion-menu-button {
    color: var(--ion-color-primary);
}

#cirInput {
    border-bottom: inset .1px burlywood;
    position: relative;
    background-color: transparent;
    width:10%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}