<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item slot="start">
      <ion-input type="number" #zipCode placeholder="enter zip code" (keyup.enter)="getLocation(zipCode.value)"></ion-input>
      <ion-button (click)="getLocation(zipCode.value)">Go</ion-button>
    </ion-item>
    
    <ion-title class="ion-text-center">
      Ionic GoogleMaps
    </ion-title>
    <ion-button slot="end" (click)="getMyLocation($event)">MyLocation</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="map_canvas1">
    <ion-text #cirInput>Drag marker to change radius</ion-text>
  </div>
</ion-content>
