#map_canvas3 {
    height: 100%;
}

ion-menu-button {
    color: var(--ion-color-primary);
  }

#cirInput {
    border-bottom: inset .1px burlywood;
    position: relative;
    background-color: transparent;
    width:10%;
} 